In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Create the database connection
connection = create_engine('mysql+mysqlconnector://root:250301@localhost/trades4')

# List of tables to be retrieved
tables_db = ['card_status', 'companies', 'credit_cards', 'product_tx', 'products', 'transactions', 'users']

# Dictionary to store DataFrames
df = {}

for table in tables_db:
    query = f'SELECT * FROM {table}'
    df[table] = pd.read_sql(query, connection)

connection.dispose()

In [13]:
import mysql.connector
import pandas as pd

# Create a connection to the 'trades4' database
cnx = mysql.connector.connect(
    user='root',
    password='250301',
    host='localhost',
    database='trades4'
)
cursor = cnx.cursor()

# Retrieve the names of the tables and store them in a list
cursor.execute("SHOW TABLES")
table_names = [table_name for (table_name,) in cursor.fetchall()]

# Dictionary to store DataFrames
dfs = {}

# Read each table into a DataFrame and create global variables dynamically
for table_name in table_names:
    query = f"SELECT * FROM {table_name}"
    dfs[table_name] = pd.read_sql(query, cnx)
    globals()[f"df_{table_name}"] = dfs[table_name]

# Close cursor and connection
cursor.close()
cnx.close()

# Access a DataFrame
print(df_users.head())

    id     name   surname           phone                         email  \
0    1     Zeus    Gamble  1-282-581-0551  interdum.enim@protonmail.edu
1   10   Robert  Mccarthy  (324) 746-6771      fermentum@protonmail.com
2  100  Melodie    Mclean  1-677-221-7152        risus.varius@google.ca
3  101    Sarah      Beck  (358) 691-4345          vitae.risus@aol.couk
4  102   Jasper    Landry  1-397-765-1118  consectetuer.euismod@aol.org

     birth_date        country         city postal_code  \
0  Nov 17, 1985  United States       Lowell       73544
1  Apr 30, 1984  United States       Eugene       85526
2  Sep 15, 1989  United States      College       11838
3   Apr 9, 1983  United States  Great Falls       67129
4  Apr 16, 1982  United States     Columbus       11595

                         address
0          348-7818 Sagittis St.
1  P.O. Box 773, 3594 Ornare St.
2      Ap #644-8492 Sagittis St.
3               665-9047 In, Rd.
4       Ap #374-7325 Sodales Rd.

C:\Users\Marcial\AppData\Local\Temp\ipykernel_1352\4261258930.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfs[table_name] = pd.read_sql(query, cnx)

In [ ]:

# Obtener DataFrames de las tablas
dfs = {}
for table_name in table_names:
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()
    df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
    dfs[table_name] = df

# Crear variables globales para cada DataFrame
for table_name, df in dfs.items():
    globals()[f"df_{table_name}"] = df

# Cerrar cursor y conexi√≥n
cursor.close()
cnx.close()