**Conexión a MySQL**:
   - La conexión puede ser cualquiera, lo único que cambiará será el nombre de la nueva base de datos.
   - Con esta conexion tengo listo

In [ ]:
import mysql.connector
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from datetime import datetime

In [ ]:
import mysql.connector
import pandas as pd

user        = 'root'
password    = '250301'
host        = 'localhost'
database    = 'trades4'

# Establecer la conexión
cnx = mysql.connector.connect(user=user, password=password, host=host, database=database)
cursor = cnx.cursor()

# Obtener nombre de las tablas
cursor.execute("SHOW TABLES")

# Obtener los resultados y almacenarlos en una lista
tables = cursor.fetchall()
table_names = [table[0] for table in tables]

# Crear un diccionario para almacenar los DataFrames
dfs = {}

for table_name in table_names:
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()
    df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
    dfs[table_name] = df

# Crear variables globales para cada DataFrame
for table_name, df in dfs.items():
    globals()[f"df_{table_name}"] = df

In [ ]:
print("")    
print("Todas la tablas se llaman df_nombre")

# Imprimir los nombres finales de los DataFrames
print("Nombres finales de los DataFrames:")
for table_name in table_names:
    print(f"df_{table_name}")

In [ ]:
# Quiero mostrar cada dataframe:
df_companies.head()

### **Operaciones con DataFrames (DF)**:

### # **Mostrar información de un DF**:

In [ ]:
# Primeras filas.
df_companies.head()

In [ ]:
# Últimas filas.
df_companies.tail()

In [ ]:
# Tipos de datos.
df_companies.dtypes

In [ ]:
# Cantidad de filas y de columnas.
df_companies.shape  # filas, columnas

In [ ]:

df_transactions["amount"] = df_transactions["amount"].astype(float)
df_transactions.dtypes

In [ ]:
df_transactions["usd_amount"] = df_transactions["amount"]*0.5

df_transactions.head()

Borrar Columna

In [ ]:
df_transactions= df_transactions.drop(columns=['col_new2'])

Mostrar Primeras cosas

In [ ]:
df_transactions.head()

  - **Crear una nueva columna** a partir de alguna/s ya conocidas:
     - Ejemplo: monto total desde cantidad y precio.
     - Ejemplo: 1 y 0 si cumple alguna condición.
     - Ejemplo: bajo, medio o alto si cumple alguna condición.

In [ ]:
# Crear una nueva columna 'condicion' 
df_users["id"] = df_users["id"].astype(int)
df_users["col_new"] = df_users["id"] + 1 #
df_users = df_users.drop(columns=['col_new'])
df_users.head()

In [ ]:
mapping = {"United Kingdom": 0, "United States": 1, "Canada": 3}
df_users["col_new2"] = df_users["country"].map(mapping) # df_users = df_users.drop(columns=['col_new2'])
df_users.head()

In [ ]:
# para el caso 0 y 1 puedo tambien usar mapping

print(df_transactions["declined"].dtype)
mapping = {"0": "Aceptada", "1": "rechazada"}
df_transactions["col_new2"] = df_transactions["declined"].map(mapping) 

df_transactions.head()

In [ ]:
# Ejemplo: bajo, medio o alto si cumple alguna condición.

import numpy as np
df_transactions["amount"] = df_transactions["amount"].astype(float)
# Define conditions and corresponding choices
df_transactions["colnewamount"] = np.where(
    df_transactions["amount"] < 100, "bajo",
    np.where(df_transactions["amount"] < 200, "medio", "alto")
)
df_transactions.head()

In [ ]:
# grafica de varibale numerica

sns.histplot(df_transactions["amount"], kde=True)

**Gráfica de una variable categórica**.

In [ ]:
#Importamos librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

# Definimos un estilo
plt.style.use('seaborn-v0_8-pastel')

In [ ]:
# grafico variable categorica
sns.countplot(y='country', width=0.6, data=df_companies)
plt.xlabel('titulo')
plt.ylabel('País')
plt.title('Cantidad ')
plt.show()

In [ ]:
# Contar la frecuencia de cada país y ordenar
country_order = df_companies['country'].value_counts().index

# Gráfico de conteo ordenado
sns.countplot(y='country', hue="country", data=df_companies, order=country_order, palette='viridis')
# Etiquetas y título
plt.xlabel('País')
plt.ylabel('Cantidad de empresas')
plt.title('Distribución de empresas por país')

# Mostrar gráfico
plt.show()

**gráfica de una variable categórica**

In [ ]:
# no es necesario simpre pasarlo a una variable categorica: 
# df_transactions["declined"] = df_transactions["declined"].astype("category")

# Gráfico de conteo para la variable categórica 'declined'
sns.countplot(x='col_new2', hue = "col_new2", data=df_transactions, palette='viridis')

# Etiquetas y título
plt.xlabel('Declined')
plt.ylabel('Cantidad')
plt.title('Distribución de transacciones declinadas')
plt.show()

# gráfica de una variable numérica

In [ ]:
sns.scatterplot(x="amount", y="user_id", data=df_transactions)
# Etiquetas y título
plt.xlabel('Amount')
plt.ylabel('')
plt.yticks([]) # para que no se vean los datos
plt.title('Scatter plot de Amount vs ID')

In [ ]:

sns.histplot(df_transactions["amount"], kde=True)

**Gráfica que relaciones dos variables numéricas**      
Gráfico de dispersión:

In [ ]:
df_users["id"].astype("category")
sns.scatterplot(x=df_transactions["amount"], y=df_users["id"])

### **graficar una dos numericas**

In [ ]:
# Convertir 'birth_date' a datetime y calcular la edad
df_users['birth_date'] = pd.to_datetime(df_users['birth_date'], format='%b %d, %Y')
df_users['age'] = datetime.now().year - df_users['birth_date'].dt.year

In [ ]:
# Renombrar la columna 'id' a 'user_id' en df_users para hacer el merge
df_users.rename(columns={'id': 'user_id'}, inplace=True)
df_users['user_id'] = df_users['user_id'].astype(int)
df_transactions['user_id'] = df_transactions['user_id'].astype(int)

df_merged = pd.merge(df_users, df_transactions, on='user_id')
sns.scatterplot(x=df_merged['age'], y=df_merged['amount'])

Lo que sigue pueden probar tomando las variables desde la misma tabla y desde tablas diferentes:
gráfica que relacione 2 variables numéricas

In [ ]:
# Cogeré 2 variables numericas de la misma tabla:

df_products["price"] = df_products["price"].str.replace("$", "")

df_products[["weight", "price"]] = df_products[["weight", "price"]].astype(float)

df_products.head()

sns.scatterplot(data= df_products, x="price", y="weight")

#### **Gráfica de 1 variable numérica y 1 categórica**

In [ ]:
# Puedo tratar de coger el declined y la edad 
df_merged = pd.merge(df_users, df_transactions, on='user_id')


# Ajuste del estilo
sns.set(style="whitegrid")

# Creación del gráfico
plt.figure(figsize=(10, 6))  # Ajuste del tamaño de la figura
sns.boxplot(data=df_merged, x="declined", y="age")

#df_users["age"] 
#df_transactions["declined"]

# Gráfica de 2 variables categóricas y 1 numérica

In [ ]:
# Entonces tendré dos variables categoricas. Estan podrian ser: df_users.rename(columns={'id': 'user_id'}, inplace=True)
df_transactions.rename(columns={"business_id": "company_id"}, inplace=True)
df_comp_transactions = pd.merge(df_companies, df_transactions, on="company_id")
# Ajuste del estilo
sns.set(style="whitegrid")
# Creación del gráfico
plt.figure(figsize=(12, 8))  # Ajuste del tamaño de la figura
sns.barplot(data=df_comp_transactions, x="amount", y="country")

# fin del conextor

In [ ]:
import mysql.connector
from mysql.connector import errorcode

# Parámetros de conexión
user = 'root'
password = '250301'
host = 'localhost'
database_name = 'farmacia'  # Nombre de la base de datos a eliminar

# Establecer la conexión
cnx = mysql.connector.connect(user=user, password=password, host=host)
cursor = cnx.cursor()

# Eliminar la base de datos
cursor.execute(f"DROP DATABASE IF EXISTS {database_name};")
print(f"Base de datos '{database_name}' eliminada exitosamente.")

cursor.close()
cnx.close()